body {
	position: center;
	background-color: green;
	text-align: center;

}

.masthead {

}

.container {
	position: center;
	background-color: blue;
}

#first-paragraph {
	color: red;
	font-size: 50px;
	padding-bottom: 250px;
}
p {
	font-size: 95;
	color: orange;
}